@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Deparman Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.HiddenFor(x => x.Durum, new { Value = "true" })
    @Html.LabelFor(x => x.DepartmanAd, "Deparman Adı")
    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DepartmanAd, "", new { @class = "text-danger" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

